@page
@model asp_razor_crud_demo.Pages.Category.IndexModel
@{
}
<a class="btn btn-primary" asp-page="Create">+ Create</a>
<a asp-page="../Index" class="btn btn-secondary">Back To Home</a>
<table class="table table-bordered table-striped mt-2">
    <thead>
    <th>Id</th>
    <th>Name</th>
    <th>CategoryOrder</th>
    <th>Options</th>
    </thead>
    <tbody>
        @foreach(var obj in Model.Categories)
        {
            <tr>
                <td>@obj.Id</td>
                <td>@obj.Name</td>
                <td>@obj.DisplayOrder</td>
                <td>
                    <a class="btn btn-primary" asp-page="Edit" asp-route-id="@obj.Id">Edit</a>
                    <a class="btn btn-danger" asp-page="Delete" asp-route-Id="@obj.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>